<h1>Pins</h1>

<% @pins.each do |pin| %>
  <div class="pin">
    <%= image_tag pin.photo_url %>
    <p>Pinned by <%= pin.user.username %> <%= distance_of_time_in_words_to_now pin.created_at %> ago</p>
  </div>
<% end %>
